*{
    margin:0px;
    padding: 0px;

}
body {
  background-image: linear-gradient(to bottom, white, rgb(218, 245, 253), rgb(30, 237, 252));
  background-repeat: no-repeat;

}
h1{
    text-align: center;
}
div.main{
    width: 1200px;
    margin: 0px auto 60px auto;
}
h2{    
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    padding-left: 300px;
    text-align: left;
    width: 900px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgba(225,225,225,0);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    color: #fff;
}
form#register{
    margin: 30px;
}
h4{

    font-family: verdana;
    font-size: 19px;
    font-style:bold;
}
th{
  color: black;
}
/*input{
        width: 190px;
        border: 1px solid #ddd;
        border-radius: 10px;
        outline: 0;
        padding: 10px;
        background-color: #fff;
        box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.Center {
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 4%;
    position: absolute;
    top: 900;
    left: 0;
    bottom: 4;
    right: 0;
  }
  #age{
    float: right;
  }
  #right{
    float: right;
  }
  #left{
    float: left;
  }
  #date,#time{
    border-radius: 5px;
    width: 130px;
    height: 10px;
  }
  input.one{
    width:40px;
  }
input.two{
    width:40px;
  }
#right1{
    float: right;
    padding-right: 40px;
}
.three{
    width:100%;
    height:100px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
    resize: none;
}
input.reading{
    width:50px;
    height: 8px;
    border: 1px solid #ddd;
        border-radius: 3px;
        outline: 0;
        padding: 7px;
        background-color: #fff;
        box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
}
#button{

   border-style: solid;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: black;
            border-radius: 5px;
}