*{
  margin:0px;
  padding: 0px;

}
body {
background-image: linear-gradient(to right top, #00fff3, #00f2fc, #00e4ff, #00d6ff, #00c7ff, #00cbff, #00ceff, #00d2ff, #00e7f3, #00f7c5, #55ff7d, #c8ff00);
background-repeat: no-repeat;
}
h1{
  text-align: center;
}
div.main{
  width: 1100px;
  margin: 0px auto 60px auto;
}
h2{    
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}
div.register{
 background: linear-gradient(to top, lime, 20%, cyan);  
 text-align: left;
  width: 1100px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(225,225,225,0);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  color: rgb(0, 0, 0);
}
form#register{
  margin: 30px;
}
label{
  font-family: sans-serif;
  font-size: 19px;
  font-style:bold;
}
input{
      width: 180px;
      border: 1px solid #ddd;
      border-radius: 3px;
      outline: 0;
      padding: 7px;
      background-color: #fff;
      box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
}

label,span,h2{
  text-shadow: 1px 1px 5px rgba(0,0,0,0.3);

}
.Center {
  width: 200px;
  height: 50px;
  margin: auto;
  padding: 4%;
  position: absolute;
  top: 900;
  left: 0;
  bottom: 4;
  right: 0;
}
.btn-bot {
  position: absolute;
  bottom: 100px;
  font-size: 20px;
  
}

#age{
  float: right;
}
#right{
  float: right;
}
#left{
  float: left;
}
#date,#time{
  border-radius: 5px;
  width: 130px;
  height: 10px;
}
input.one{
  width:40px;
}
input.two{
  width:40px;
}
#right1{
  float: right;
  padding-right: 40px;
}
.three{
  width:100%;
  height:100px;
  border: 1px solid #ddd;
      border-radius: 3px;
      outline: 0;
      padding: 7px;
      background-color: #fff;
      box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
      resize: none;
}
input.uhid{
  width:150px;
  height: 8px;
  border: 1px solid #ddd;
      border-radius: 3px;
      outline: 0;
      padding: 7px;
      background-color: #fff;
      box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
      
}
input.reading{
  width:50px;
  height: 8px;
  border: 1px solid #ddd;
      border-radius: 3px;
      outline: 0;
      padding: 7px;
      background-color: #fff;
      box-shadow: insert 5px 5px 5px 5px rgba(0,0,0,0.3);
}
#button{

 border-style: solid;
 padding: 10px;
 padding-left: 15px;
 padding-right: 15px;
 background-color: black;
 border-radius: 5px;
  
}
[type="checkbox"], [type="radio"] {
height:20px; 
width:20px;
}
input:hover{
  border: 2px solid blue; 
}
textarea:hover{
      border: 2px solid blue; 
}
